NEXT_PUBLIC_SITE_URL=https://www.apexondevelopment.com
NEXT_PUBLIC_SITE_NAME="Apexon Development"
NEXT_PUBLIC_CONTACT_EMAIL=apexon.development@gmail.com
NEXT_PUBLIC_CONTACT_PHONE="91 9025649921"
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
FORM_SUBMIT_ENDPOINT=
